.secao{
    display: block;
    justify-content: center;
    padding: 60px 20px;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    
}

.secao_title{
    font-size:60px;
    font-family: "Poppins", sans-serif;
    color: #5750d3;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    
}

.secao_content{
    line-height: 1.5;
    font-size: 20px;
    color: #6C63FF;
}