.secao{
    display: block;
    justify-content: center;
    padding: 60px 20px;
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;
    
}

.secao_title{
    font-size:60px;
    font-family: "Poppins", sans-serif;
    color: #5750d3;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    
}

.secao_content{
    line-height: 1.5;
    font-size: 20px;
    color: #6C63FF;
}

.tabela_servicos{
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 0;
    table-layout: fixed;
    border: none;
    margin: 50px auto;
    
}

/*Todos os "blocos"*/
.tabela_servicos th,
.tabela_servicos td{
    background-color: rgb(87, 80, 211, 0.9);
    color: white;
    padding: 50px;
    background-image: linear-gradient(to left, #6C63FF, #5750d3);

}

/*Tutulo*/
.tabela_servicos thead tr:first-child th{
    border-radius: 20px 20px 0 0;
    font-size: 42px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding-bottom: 0px;
}
/*Subtitulo*/
.tabela_servicos thead tr:last-child th{ 
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: normal;
}
/*Lista*/
.tabela_servicos tbody td{
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid white;
}

.tabela_servicos li{
    margin: 10px;
}
/*Preço*/
.tabela_servicos tfoot tr:first-child th{
    font-size: 42px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 0px;
    text-shadow: 0 0 20px #6C63FF;
}

/*Botoes*/
.tabela_servicos tfoot tr:last-child th{
    padding-top: 50px;
    border-radius: 0 0 20px 20px;
}

