*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.btn{
    margin: 30px;
    width: 300px;
    padding: 2%;
    background-color: rgb(125, 185, 35);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px 0px greenyellow;
}

.btn > p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.btn:hover{
    background-color:greenyellow;
    transform: translateY(-5px);
    transition: 0.5s;
    box-shadow: 0 0 5px 0px black;
}

.btn:active{
    background-color: rgb(125, 185, 35);
}

.link{
    margin: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
}


.yt{
    margin-bottom: 30px;
    width: 300px;
    padding: 10%;
    background-color: red;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px 0px red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}


.yt:hover{
    background-color:rgb(252, 71, 71);
    transform: translateY(-5px);
    transition: 0.5s;
    
}

.yt:active{
    background-color: black;
}

.spfy{
    margin-bottom: 30px;
    width: 300px;
    padding: 10%;
    background-color: #3BE477;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px 0px #3BE477;
    text-align: center;;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;    
}

.spfy:hover{
    background-color:#6ae495;
    transform: translateY(-5px);
    transition: 0.5s;
}

.spfy:active{
    background-color: black;
}

.am{
    margin-bottom: 30px;
    width: 300px;
    padding: 10%;
    background-color: #25D1DA;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px 0px #25D1DA;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;    
}



.am:hover{
    background-color:#39dde6;
    transform: translateY(-5px);
    transition: 0.5s;
}

.am:active{
    background-color: black;
}

.yt::before{
    content: '*';
    color: white;
}

.yt::after{
    content: '*';
    color: white;
}

.spfy::before{
    content: '*';
    color: white;
}

.spfy::after{
    content: '*';
    color: white;
}

.am::before{
    content: '*';
    color: white;
}

.am::after{
    content: '*';
    color: white;
}